
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Icon Font Stylesheet -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<!-- Template Stylesheet -->
<link href="~/quyengop/css/style.css" rel="stylesheet">
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">

<style>
    .page-header2 {
        position: relative;
        padding: 0;
        overflow: hidden;
    }

        .page-header2 .header-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .page-header2 .container {
            position: relative;
            z-index: 1;
        }
</style>
</head>

<!-- Page Header Start -->
<div class="container-fluid page-header2 py-5 wow fadeIn" data-wow-delay="0.1s">
    <img src="~/quyengop/img/slide_about.png" alt="Header Image" class="img-fluid header-img">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4">Về Chúng Tôi</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Trang</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Về Chúng Tôi</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-fluid py-5" style="background-color: #faebd7">
    <div class="container py-4">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="overflow-hidden img-border-radius">
                    <img src="~/User/images/OngHut/image1.png" class="img-fluid w-100" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.3s">
                <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Giới thiệu</h4>
                <h2 class="text-dark mb-4 display-5">
                    Tại GreenCycle là không có nhựa
                </h2>
                <p class="text-dark mb-4">
                    Là đơn vị hợp tác với EQUO chúng tôi theo đuổi sứ mệnh vì một thế giới không còn bóng dáng nhựa. Nhận thấy nhựa sử dụng một lần đã và đang gây ra các vấn đề ô nhiễm môi trường, và ảnh hưởng trực tiếp đến sức khoẻ chúng ta, GreenCycle muốn bắt tay vào tạo nên những sự thay đổi tích cực.<br>
                </p>
                <p class="text-dark mb-4">
                    Chúng tôi không đơn thuần chỉ là một thương hiệu thân thiện với môi trường, chúng tôi là những người sáng tạo, đổi mới và tạo nên sự khác biệt. Tại GreenCycle chúng tôi liên tục cho ra những giải pháp thay thế nhựa thật sự bền vững, có thể phân huỷ hoàn toàn trong tự nhiên, với giá thành phải chăng và dễ dàng tiếp cận. Luôn luôn lắng nghe và cải tiến, GreenCycle muốn truyền cảm hứng và giúp mọi người cân nhắc hơn về những lựa chọn của mình.<br>
                </p>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="overflow-hidden img-border-radius">
                    <img src="~/User/images/blogs/3.png" class="img-fluid w-100" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.3s">
                <h2 class="text-dark mb-4 display-5">
                    Đến năm 2050, rác thải nhựa sẽ nhiều hơn cả cá
                    ở trong đại dương
                </h2>
                <p class="text-dark mb-4">
                    Có đến 50% các sản phẩm nhựa được sản xuất chỉ để dùng 1 lần, và phần lớn sẽ bị vứt đi trong vòng chưa đầy 20 phút, nhưng những hậu quả mà chúng để lại cho môi trường và tất cả các sinh vật đang sống trên hành tinh này là rất đáng báo động.<br>
                </p>
                <p class="text-dark mb-4">

                    Tại GreenCycle chúng tôi mong muốn mang đến những thay đổi tích cực bằng cách cung các các giải pháp thay thế nhựa sử dụng một lần thật sự thân thiện với môi trường và an toàn cho sức khoẻ.<br>

                    Vì vậy GreenCycle muốn làm một dự án lớn hơn. Vẫn biết sức mình còn nhỏ, dự án cũng chưa lớn, nhưng đội ngũ GreenCycle tin chắc rằng với sự chung tay của nhiều người thì chúng ta sẽ làm được những điều lớn lao

                </p>
                <h6 class="mb-3">
                    <i>
                        💓💓💓Niềm tin vào
                        tương lai💓💓💓
                    </i>
                </h6>
                <p class="text-dark mb-4">
                    Mục đích của chúng tôi là khơi dậy phong trào toàn cầu hướng đến một thế giới trong lành hơn, xanh hơn và thân thiện hơn khi không còn bóng dáng nhựa; khi việc lạm dụng nhựa quá mức sẽ được khắc phục, và nhựa sử dụng một lần chỉ còn là quá khứ.
                </p>
                <p class="text-dark mb-4">
                    Chúng tôi muốn các sản phẩm thay thế nhựa của mình có thể được tiếp cận rộng rãi và dễ dàng hơn bao giờ hết, bắt đầu từ ống hút và dụng cụ ăn uống dùng một lần. Những vật dụng này đã ăn sâu vào cuộc sống hàng ngày của chúng ta đến nỗi chúng ta thường bỏ qua những hậu quả môi trường của chúng.
                </p>
                <a href="/Products/index" class="btn btn-primary px-5 py-3 btn-border-radius">Mua ngay</a>
            </div>
        </div>
    </div>
</div>

<!-- About End -->
