@{
    ViewData["Title"] = "Home Page";
}
<body>


    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch"
         aria-labelledby="Search">
        <div class="offcanvas-header justify-content-center">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <div class="order-md-last">
                <h4 class="text-primary text-uppercase mb-3">
                    Search
                </h4>
                <div class="search-bar border rounded-2 border-dark-subtle">
                    <form id="search-form" class="text-center d-flex align-items-center" action="" method="">
                        <input type="text" class="form-control border-0 bg-transparent" placeholder="Search Here" />
                        <iconify-icon icon="tabler:search" class="fs-4 me-3"></iconify-icon>
                    </form>
                </div>e
            </div>
        </div>
    </div>


    <section id="banner" style="padding: 10px; width: 100%; box-sizing: border-box;">
        <div class="swiper main-swiper" style="width: 95%; height: 660px;">
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                <div class="swiper-slide py-5" style="background-image: url('/User/images/slide1.jpg'); background-size: cover;">
                    <div class="row banner-content align-items-center h-100">
                        <div class="content-wrapper col-md-7 mb-5" style="position: relative; top: 30%; margin-left: 50px;">
                            <a href="/Products/index" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 mt-3">
                                Mua ngay
                                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Slide 2 -->
                <div class="swiper-slide py-5" style="background-image: url('/User/images/slide2.jpg'); background-size: cover;">
                    <div class="row banner-content align-items-center h-100">
                        <div class="content-wrapper col-md-7 mb-5" style="position: relative; top: 30%; margin-left: 50px;">
                            <!-- <div class="secondary-font text-primary text-uppercase mb-4">Save 10 - 20 % off</div>
                                <h2 class="banner-title display-1 fw-normal">Best destination for <span class="text-primary">your pets</span></h2> -->
                            <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 mt-3">
                                Đăng ký ngay
                                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Slide 3 -->
                <div class="swiper-slide position-relative">
                    <video autoplay loop muted playsinline class="video-background">
                        <source src="~/User/images/slide3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="row banner-content align-items-center h-100 position-relative">
                        <div class="content-wrapper col-md-7 mb-5" style="position: relative; top: 30%; margin-left: 55px;">
                            <!-- <div class="secondary-font text-primary text-uppercase mb-4">Save 10 - 20 % off</div>
                                <h2 class="banner-title display-1 fw-normal">Best destination for <span class="text-primary">your pets</span></h2> -->
                            <a href="#" class="btn btn-outline-dark2 btn-lg text-uppercase fs-6 rounded-1 mt-3">
                                Đọc thêm
                                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination mb-5"></div>
        </div>
    </section>

    <div style="background: url('/User/images/background.jpg') no-repeat center center; background-size: cover; margin: 40px; margin-top: 10px; ">
        <div class="row banner-content align-items-center h-100">
            <h1 style="font-family: var(--heading-font); color: #3e5b2c; text-align: center; margin-top: 2rem;">
                Tiêu dùng bền vững - Sống xanh - Trao yêu thương
            </h1>
            <p style="font-family: var(--secondary-font); color: var(--dark-color); text-align: center; font-size: 1.25rem; max-width: 800px; margin: 1rem auto;">
                Tại Green Cycle, chúng tôi mong muốn mang đến những giải pháp thay thế bền vững, thân thiện với môi trường vì một thế giới không nhựa. Từ ống hút, dao, muỗng, nĩa, đến hộp đựng thực phẩm, túi giấy hay ly giấy... - tất cả đều được làm từ nguyên liệu có nguồn gốc tự nhiên, không chứa nhựa và phân hủy hoàn toàn trong môi trường tự nhiên.
            </p>
        </div>
    </div>
    <section id="clothing" class="my-5 overflow-hidden">
        <div class="container pb-5">

            <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
                <h2 class="display-3 fw-normal">Sản Phẩm mới </h2>
                <div>
                    <a href="/Products/index" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                        Mua ngay
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="products-carousel swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/OngHut/image1.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Ống Hút Bã Mía</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">59.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/OngHut/image2.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Ống Hút Cà Phê</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">64.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            -10%
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/OngHut/image3.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Ống Hút Dừa</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">59.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/Binhnuoc/image.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Bình giữ nhiệt</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">149.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/HopDoAn/image1.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Hộp bã mía</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">29.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/Tui/image1.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Túi vải canvas</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">49.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- / products-carousel -->


        </div>
    </section>

    <section id="clothing" class="my-5 overflow-hidden">
        <div class="container pb-5">

            <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
                <h2 class="display-3 fw-normal">Best Sellers</h2>
                <div>
                    <a href="/Products/index" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                        Mua ngay
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>


            <div class="products-carousel swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/Binhnuoc/image.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Bình giữ nhiệt</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">149.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/HopDoAn/image1.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Hộp bã mía</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">29.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/Tui/image1.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Túi vải canvas</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">49.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/OngHut/image1.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Ống Hút Bã Mía</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">59.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            New
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/OngHut/image2.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Ống Hút Cà Phê</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">64.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                            -10%
                        </div>
                        <div class="card position-relative">
                            <a href="single-product.html"><img src="~/User/images/OngHut/image3.png" class="img-fluid rounded-4" alt="image"></a>
                            <div class="card-body p-0">
                                <a href="single-product.html">
                                    <h3 class="card-title pt-4 m-0">Ống Hút Dừa</h3>
                                </a>

                                <div class="card-text">
                                    <span class="rating secondary-font">
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                        5.0
                                    </span>

                                    <h3 class="secondary-font text-primary">59.000đ</h3>

                                    <div class="d-flex flex-wrap mt-3">
                                        <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                                            <h5 class="text-uppercase m-0">Mua ngay</h5>
                                        </a>
                                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                                            <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                   

                </div>
            </div>
            <!-- / products-carousel -->


        </div>
    </section>

@*      <section id="banner-2" class="my-3" style="background: #F9F3EC;">
      <div class="container">
        <div class="row flex-row-reverse banner-content align-items-center">
          <div class="img-wrapper col-12 col-md-6">
                    <img src="~/User/images/Binhnuoc/image.png" class="img-fluid">
          </div>
          <div class="content-wrapper col-12 offset-md-1 col-md-5 p-5">
            <div class="secondary-font text-primary text-uppercase mb-3 fs-4">Giảm tới 40%</div>
            <h2 class="banner-title display-1 fw-normal">Bình giữ nhiệt
            </h2>
            <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
              Mua ngay
              <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                <use xlink:href="#arrow-right"></use>
              </svg></a>
          </div>

        </div>
      </div>
    </section> 
 *@
@*      <section id="testimonial" style="background: #F9F3EC;">
      <div class="container my-5 py-5">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <div class="swiper testimonial-swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="row ">
                    <div class="col-2">
                      <iconify-icon icon="ri:double-quotes-l" class="quote-icon text-primary"></iconify-icon>
                    </div>
                    <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5">
                      <p class="testimonial-content fs-2">At the core of our practice is the idea that cities are the
                        incubators of our
                        greatest achievements, and the best hope for a sustainable future.</p>
                      <p class="text-black">- Joshima Lin</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row ">
                    <div class="col-2">
                      <iconify-icon icon="ri:double-quotes-l" class="quote-icon text-primary"></iconify-icon>
                    </div>
                    <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5">
                      <p class="testimonial-content fs-2">At the core of our practice is the idea that cities are the
                        incubators of our
                        greatest achievements, and the best hope for a sustainable future.</p>
                      <p class="text-black">- Joshima Lin</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row ">
                    <div class="col-2">
                      <iconify-icon icon="ri:double-quotes-l" class="quote-icon text-primary"></iconify-icon>
                    </div>
                    <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5">
                      <p class="testimonial-content fs-2">At the core of our practice is the idea that cities are the
                        incubators of our
                        greatest achievements, and the best hope for a sustainable future.</p>
                      <p class="text-black">- Joshima Lin</p>
                    </div>
                  </div>
                </div>

              </div>

              <div class="swiper-pagination"></div>

            </div>
          </div>
        </div>
      </div>

    </section> 
 *@


   @*  <div class="swiper main-swiper" style="width: 95%; height: 700px; position: relative; background: url(/User/images/Quyengop/1.png) no-repeat center center; background-size: cover;">
        <div class="swiper-wrapper">
            <section id="register" style="height: 100vh;">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row w-100" style="margin-left: 16dvb;">
                        <div class="offset-md-3 col-md-6 d-flex justify-content-center align-items-center">
                            <!-- Điều chỉnh kích thước form -->
                            <div class="form-wrapper p-4" style="background-color: rgba(255, 255, 255, 0.85); border-radius: 15px; max-width: 100%; max-height: 60%; overflow-y: auto;">
                                <h6 class="display-5 fw-normal text-center">Đăng ký quyên góp cùng Green Cycle </h6>
                                <form>
                                    <div class="mb-3">
                                        <label for="fullname" class="form-label">Họ tên</label>
                                        <input type="text" class="form-control form-control-md" name="fullname" id="fullname" placeholder="Nhập Họ tên của bạn" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control form-control-md" name="email" id="email" placeholder="Nhập địa chỉ Email của bạn" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="address" class="form-label">Địa chỉ</label>
                                        <input type="text" class="form-control form-control-md" name="address" id="address" placeholder="Nhập địa chỉ đến quyên góp" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="donation-item" class="form-label">Sản phẩm muốn từ thiện</label>
                                        <input type="text" class="form-control form-control-md" name="donation-item" id="donation-item" placeholder="Nhập sản phẩm bạn muốn từ thiện" required>
                                    </div>
                                    <!-- Trường Ngày và Giờ đến quyên góp -->
                                    <div class="mb-3">
                                        <label for="donation-date" class="form-label">Ngày đến quyên góp</label>
                                        <input type="date" class="form-control form-control-md" name="donation-date" id="donation-date" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="donation-time" class="form-label">Giờ đến quyên góp</label>
                                        <input type="time" class="form-control form-control-md" name="donation-time" id="donation-time" required>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-dark btn-lg rounded-1">Đăng ký</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div> *@
    
    <section id="latest-blog" class="my-5">
        <div class="container my-5">
            <div class="row mt-5">
                <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
                    <h2 class="display-3 fw-normal">Đọc Blogs</h2>
                    <div>
                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                            Đọc thêm
                            <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 my-4 my-md-0">
                    <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                        <h3 class="secondary-font text-primary m-0">20</h3>
                        <p class="secondary-font fs-6 m-0">Oct</p>

                    </div>
                    <div class="card position-relative">
                        <a href="single-post.html"><img src="~/User/images/blogs/3.png" class="img-fluid rounded-4" alt="image"></a>
                        <div class="card-body p-0">
                            <a href="single-post.html">
                                <h3 class="card-title pt-4 pb-3 m-0">Hậu quả của ô nhiễm môi trường biển</h3>
                            </a>

                            <div class="card-text">
                                <p class="blog-paragraph fs-6">
                                    Ô nhiễm môi trường biển hiện đang là thách thức của Việt Nam khi tình trạng ô nhiễm ngày càng trở nên nghiêm trọng hơn. Nếu không thể khắc phục kịp thời, cuộc sống con người hiện tại và tương lai sẽ bị ảnh hưởng...
                                </p>
                                <a href="single-post.html" class="blog-read">Đọc thêm</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4 my-md-0">
                    <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                        <h3 class="secondary-font text-primary m-0">21</h3>
                        <p class="secondary-font fs-6 m-0">Oct</p>

                    </div>
                    <div class="card position-relative">
                        <a href="single-post.html"><img src="~/User/images/blogs/4.png" class="img-fluid rounded-4" alt="image"></a>
                        <div class="card-body p-0">
                            <a href="single-post.html">
                                <h3 class="card-title pt-4 pb-3 m-0">
                                    Xử lý ô nhiễm môi trường tại các cơ sở tái chế giấy ở Bắc Ninh
                                </h3>
                            </a>

                            <div class="card-text">
                                <p class="blog-paragraph fs-6">
                                    Tại Phong Khê (tỉnh Bắc Ninh), hơn chục năm qua, hàng loạt cơ sở tái chế giấy phế liệu tồn tại, trở thành điểm đen về ô nhiễm môi trường, kéo theo nhiều hệ lụy khác...
                                </p>
                                <a href="single-post.html" class="blog-read">Đọc thêm</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4 my-md-0">
                    <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                        <h3 class="secondary-font text-primary m-0">22</h3>
                        <p class="secondary-font fs-6 m-0">Oct</p>

                    </div>
                    <div class="card position-relative">
                        <a href="single-post.html"><img src="~/User/images/blogs/5.png" class="img-fluid rounded-4" alt="image"></a>
                        <div class="card-body p-0">
                            <a href="single-post.html">
                                <h3 class="card-title pt-4 pb-3 m-0">Mất bao lâu rác thải nhựa mới phân hủy</h3>
                            </a>

                            <div class="card-text">
                                <p class="blog-paragraph fs-6">
                                    Thời gian rác phân huỷ Lượng rác nhựa khổng lồ được thải ra môi trường hàng ngày có thể mất đến 1.000 năm để phân huỷ hoàn toàn. Đây thực sự là mối đe doạ tới môi trường cũng như sức khỏe...

                                </p>
                                <a href="single-post.html" class="blog-read">Đọc thêm</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

@*     <section id="insta" class="my-5">
        <div class="row g-0 py-5">
            <div class="col instagram-item text-center position-relative">
                <div class="icon-overlay d-flex justify-content-center position-absolute">
                    <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
                </div>
                <a href="#">
                    <img src="~/User/images/tuthien/image1.png" alt="insta-img" class="img-fluid rounded-3 insta-img">
                </a>
            </div>
            <div class="col instagram-item text-center position-relative">
                <div class="icon-overlay d-flex justify-content-center position-absolute">
                    <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
                </div>
                <a href="#">
                    <img src="~/User/images/tuthien/image5.png" alt="insta-img" class="img-fluid rounded-3 insta-img">
                </a>
            </div>
            <div class="col instagram-item text-center position-relative">
                <div class="icon-overlay d-flex justify-content-center position-absolute">
                    <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
                </div>
                <a href="#">
                    <img src="~/User/images/tuthien/2.png" alt="insta-img" class="img-fluid rounded-3 insta-img">
                </a>
            </div>
            <div class="col instagram-item text-center position-relative">
                <div class="icon-overlay d-flex justify-content-center position-absolute">
                    <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
                </div>
                <a href="#">
                    <img src="~/User/images/tuthien/image.png" alt="insta-img" class="img-fluid rounded-3 insta-img">
                </a>
            </div>
            <div class="col instagram-item text-center position-relative">
                <div class="icon-overlay d-flex justify-content-center position-absolute">
                    <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
                </div>
                <a href="#">
                    <img src="~/User/images/tuthien/image2.png" alt="insta-img" class="img-fluid rounded-3 insta-img">
                </a>
            </div>
            <div class="col instagram-item text-center position-relative">
                <div class="icon-overlay d-flex justify-content-center position-absolute">
                    <iconify-icon class="text-white" icon="la:instagram"></iconify-icon>
                </div>
                <a href="#">
                    <img src="~/User/images/tuthien/image3.png" alt="insta-img" class="img-fluid rounded-3 insta-img">
                </a>
            </div>
        </div>
    </section>
 *@
</body>

