
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout_Charity.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header1 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4">Về Chúng Tôi</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Trang</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Về chúng tôi</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="container-fluid py-5 about bg-light">
    <div class="container py-4">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="overflow-hidden img-border-radius">
                    <img src="~/Charity/img/tinhnguyen/1.png" class="img-fluid w-100" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.3s">
                <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Giới thiệu</h4>
                <h1 class="text-dark mb-4 display-5"> Tại sao nên tham gia tour du lịch tình nguyện</h1>
                <p class="text-dark mb-4">
                    Chuyến đi cùng Green Heart sẽ giúp bạn trải nghiệm những điều mà trước đây chưa từng thử qua, khám phá những điều chưa biết ở bản thân, bứt phá khỏi giới hạn của chính mình. Và đây cũng là hoạt động tình nguyện giúp đỡ các bạn có hoàn cảnh khó khăn, lũ lụt, bão... Nhằm mang lại những giá trị bền vững cho cộng đồng và xã hội.
                </p>
                <div class="row mb-4">
                    <div class="col-lg-6">
                        <h6 class="mb-3"></i>🚀 Phát triển bản thân</h6>
                        <h6 class="mb-3"></i>🏅 Chứng nhận tình nguyện</h6>
                        <h6 class="mb-3"></i>💓 Hỗ trợ cộng đồng</h6>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="mb-3"></i>🌐 Kết nối toàn cầu</h6>
                        <h6 class="mb-3"></i>🌟 Trải nghiệm độc đáo</h6>
                    </div>
                </div>
                <a href="" class="btn btn-primary px-5 py-3 btn-border-radius">Đăng ký ngay</a>
            </div>
        </div>
    </div>
</div>

