
@{
    ViewData["Title"] = "TinhNguyen";
    Layout = "~/Views/Shared/_Layout_Charity.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header1 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4">Tour Tình Nguyện</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Trang</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Tình nguyện</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="container-fluid program py-2">
    <div class="container py-5">
@*         <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Tour tình nguyện</h4>
            <h1 class="mb-5 display-5">
                🔥 Tour du lịch tình nguyện sắp diễn ra
            </h1>
        </div>
 *@        <div class="row g-5 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="program-item rounded">
                    <div class="program-img position-relative">
                        <div class="overflow-hidden img-border-radius">
                            <img src="~/Charity/img/program-1.jpg" class="img-fluid w-100" alt="Image">
                        </div>
                    </div>
                    <div class="program-text bg-white px-4 pb-3">
                        <div class="program-text-inner">
                            <a href="#" class="h4">Tour du lịch tình nguyện Lô Lô Chải - Hà Giang</a>
                            <p class="mt-3 mb-0">
                                Khởi hành từ: Hà Nội<br>
                                Thời gian: 2 ngày 3 đêm<br>
                                Khởi hành từ: Hà Nội
                            </p>
                        </div>
                    </div>
                    <div class="program-teacher d-flex align-items-center border-top border-primary bg-white px-4 ">
                    </div>
                    <div class="d-flex justify-content-between px-4 py-2 bg-primary rounded-bottom">
                        <small class="text-white">💰599.000đ</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="program-item rounded">
                    <div class="program-img position-relative">
                        <div class="overflow-hidden img-border-radius">
                            <img src="~/Charity/img/program-1.jpg" class="img-fluid w-100" alt="Image">
                        </div>
                    </div>
                    <div class="program-text bg-white px-4 pb-3">
                        <div class="program-text-inner">
                            <a href="#" class="h4">Tour du lịch tình nguyện Lô Lô Chải - Hà Giang</a>
                            <p class="mt-3 mb-0">
                                Khởi hành từ: Hà Nội<br>
                                Thời gian: 2 ngày 3 đêm<br>
                                Khởi hành từ: Hà Nội
                            </p>
                        </div>
                    </div>
                    <div class="program-teacher d-flex align-items-center border-top border-primary bg-white px-4 ">
                    </div>
                    <div class="d-flex justify-content-between px-4 py-2 bg-primary rounded-bottom">
                        <small class="text-white">💰599.000đ</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="program-item rounded">
                    <div class="program-img position-relative">
                        <div class="overflow-hidden img-border-radius">
                            <img src="~/Charity/img/program-1.jpg" class="img-fluid w-100" alt="Image">
                        </div>
                    </div>
                    <div class="program-text bg-white px-4 pb-3">
                        <div class="program-text-inner">
                            <a href="#" class="h4">Tour du lịch tình nguyện Lô Lô Chải - Hà Giang</a>
                            <p class="mt-3 mb-0">
                                Khởi hành từ: Hà Nội<br>
                                Thời gian: 2 ngày 3 đêm<br>
                                Khởi hành từ: Hà Nội
                            </p>
                        </div>
                    </div>
                    <div class="program-teacher d-flex align-items-center border-top border-primary bg-white px-4 ">
                    </div>
                    <div class="d-flex justify-content-between px-4 py-2 bg-primary rounded-bottom">
                        <small class="text-white">💰599.000đ</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="program-item rounded">
                    <div class="program-img position-relative">
                        <div class="overflow-hidden img-border-radius">
                            <img src="~/Charity/img/program-1.jpg" class="img-fluid w-100" alt="Image">
                        </div>
                    </div>
                    <div class="program-text bg-white px-4 pb-3">
                        <div class="program-text-inner">
                            <a href="#" class="h4">Tour du lịch tình nguyện Lô Lô Chải - Hà Giang</a>
                            <p class="mt-3 mb-0">
                                Khởi hành từ: Hà Nội<br>
                                Thời gian: 2 ngày 3 đêm<br>
                                Khởi hành từ: Hà Nội
                            </p>
                        </div>
                    </div>
                    <div class="program-teacher d-flex align-items-center border-top border-primary bg-white px-4 ">
                    </div>
                    <div class="d-flex justify-content-between px-4 py-2 bg-primary rounded-bottom">
                        <small class="text-white">💰599.000đ</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="program-item rounded">
                    <div class="program-img position-relative">
                        <div class="overflow-hidden img-border-radius">
                            <img src="~/Charity/img/program-1.jpg" class="img-fluid w-100" alt="Image">
                        </div>
                    </div>
                    <div class="program-text bg-white px-4 pb-3">
                        <div class="program-text-inner">
                            <a href="#" class="h4">Tour du lịch tình nguyện Lô Lô Chải - Hà Giang</a>
                            <p class="mt-3 mb-0">
                                Khởi hành từ: Hà Nội<br>
                                Thời gian: 2 ngày 3 đêm<br>
                                Khởi hành từ: Hà Nội
                            </p>
                        </div>
                    </div>
                    <div class="program-teacher d-flex align-items-center border-top border-primary bg-white px-4 ">
                    </div>
                    <div class="d-flex justify-content-between px-4 py-2 bg-primary rounded-bottom">
                        <small class="text-white">💰599.000đ</small>
                    </div>
                </div>
            </div>

           @*  <div class="d-inline-block text-center wow fadeIn" data-wow-delay="0.1s">
                <a href="#" class="btn btn-primary px-5 py-3 text-white btn-border-radius">Xem tất cả</a>
            </div> *@
        </div>
    </div>
</div>


