@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .page-header2 {
        position: relative;
        padding: 0;
        overflow: hidden;
    }

        .page-header2 .header-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .page-header2 .container {
            position: relative;
            z-index: 1;
        }
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header2 py-5 wow fadeIn" data-wow-delay="0.1s">
    <img src="~/quyengop/img/silde_blog.png" alt="Header Image" class="img-fluid header-img">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4">Blog</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Trang</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Blog</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<section id="latest-blog" class="my-5">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">20</h3>
                    <p class="secondary-font fs-6 m-0">Oct</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/User/images/blogs/3.png" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">Hậu quả của ô nhiễm môi trường biển</h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Ô nhiễm môi trường biển hiện đang là thách thức của Việt Nam khi tình trạng ô nhiễm ngày càng trở nên nghiêm trọng hơn. Nếu không thể khắc phục kịp thời, cuộc sống con người hiện tại và tương lai sẽ bị ảnh hưởng...
                            </p>
                            <a href="single-post.html" class="blog-read">Đọc thêm</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">21</h3>
                    <p class="secondary-font fs-6 m-0">Oct</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/User/images/blogs/4.png" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">
                                Xử lý ô nhiễm môi trường tại các cơ sở tái chế giấy ở Bắc Ninh
                            </h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Tại Phong Khê (tỉnh Bắc Ninh), hơn chục năm qua, hàng loạt cơ sở tái chế giấy phế liệu tồn tại, trở thành điểm đen về ô nhiễm môi trường, kéo theo nhiều hệ lụy khác...
                            </p>
                            <a href="single-post.html" class="blog-read">Đọc thêm</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">22</h3>
                    <p class="secondary-font fs-6 m-0">Oct</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/User/images/blogs/5.png" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">Mất bao lâu rác thải nhựa mới phân hủy</h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Thời gian rác phân huỷ Lượng rác nhựa khổng lồ được thải ra môi trường hàng ngày có thể mất đến 1.000 năm để phân huỷ hoàn toàn. Đây thực sự là mối đe doạ tới môi trường cũng như sức khỏe...

                            </p>
                            <a href="single-post.html" class="blog-read">Đọc thêm</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">20</h3>
                    <p class="secondary-font fs-6 m-0">Oct</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/User/images/blogs/3.png" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">Hậu quả của ô nhiễm môi trường biển</h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Ô nhiễm môi trường biển hiện đang là thách thức của Việt Nam khi tình trạng ô nhiễm ngày càng trở nên nghiêm trọng hơn. Nếu không thể khắc phục kịp thời, cuộc sống con người hiện tại và tương lai sẽ bị ảnh hưởng...
                            </p>
                            <a href="single-post.html" class="blog-read">Đọc thêm</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">21</h3>
                    <p class="secondary-font fs-6 m-0">Oct</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/User/images/blogs/4.png" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">
                                Xử lý ô nhiễm môi trường tại các cơ sở tái chế giấy ở Bắc Ninh
                            </h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Tại Phong Khê (tỉnh Bắc Ninh), hơn chục năm qua, hàng loạt cơ sở tái chế giấy phế liệu tồn tại, trở thành điểm đen về ô nhiễm môi trường, kéo theo nhiều hệ lụy khác...
                            </p>
                            <a href="single-post.html" class="blog-read">Đọc thêm</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 my-md-0">
                <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                    <h3 class="secondary-font text-primary m-0">22</h3>
                    <p class="secondary-font fs-6 m-0">Oct</p>

                </div>
                <div class="card position-relative">
                    <a href="single-post.html"><img src="~/User/images/blogs/5.png" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a href="single-post.html">
                            <h3 class="card-title pt-4 pb-3 m-0">Mất bao lâu rác thải nhựa mới phân hủy</h3>
                        </a>

                        <div class="card-text">
                            <p class="blog-paragraph fs-6">
                                Thời gian rác phân huỷ Lượng rác nhựa khổng lồ được thải ra môi trường hàng ngày có thể mất đến 1.000 năm để phân huỷ hoàn toàn. Đây thực sự là mối đe doạ tới môi trường cũng như sức khỏe...

                            </p>
                            <a href="single-post.html" class="blog-read">Đọc thêm</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@model IEnumerable<Web_bestcoder.Areas.Admin.Models.Charity>


<!-- Programs Start -->
<div class="container-fluid program py-2">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Tour tình nguyện</h4>
            <h1 class="mb-5 display-5">
                Nam Trà My, Nghệ An 
            </h1>
        </div>
        <div class="row g-5 justify-content-center">
            <button id="soundToggleButton" class="btn col-3 text-center">🔇 Bật âm thanh</button>
            <div class="col-12 text-center">
                <!-- Video Element -->
                <video id="volunteerVideo" autoplay muted loop style="max-width: 100%; border-radius: 10px;">
                    <source src="~/Video/QuangLinhVlog.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
               
            </div>
        </div>
    </div>
</div>

<!-- Program End -->
@* <!-- Events Start -->
<div class="container-fluid events py-2">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Ủng Hộ</h4>
            <h1 class="mb-5 display-3">Các hoạt động ủng hộ</h1>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-4" data-wow-delay="0.1s">
                <div class="events-item bg-primary rounded">
                    <div class="events-inner position-relative">
                        <div class="events-img overflow-hidden rounded-circle position-relative">
                            <img src="~/img/baoYagi.jpg" class="img-fluid w-100 rounded-circle" alt="Image">
                          
                        </div>
                    </div>
                    <div class="events-text p-4 border border-primary bg-white border-top-0 rounded-bottom">
                        <a href="#" class="h4">Ủng Hộ Khắc Phục Bão Yagi</a>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 " data-wow-delay="0.1s">
                <div class="events-item bg-primary rounded">
                    <div class="events-inner position-relative">
                        <div class="events-img overflow-hidden rounded-circle position-relative">
                            <img src="~/img/chay.jpg" class="img-fluid w-100 rounded-circle" alt="Image">

                        </div>
                    </div>
                    <div class="events-text p-4 border border-primary bg-white border-top-0 rounded-bottom">
                        <a href="#" class="h4">Ủng Hộ Nạn Vụ Cháy Chung Cư </a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="events-item bg-primary rounded">
                    <div class="events-inner position-relative">
                        <div class="events-img overflow-hidden rounded-circle position-relative">
                            <img src="~/img/HaGiang.jpg" class="img-fluid w-100 rounded-circle" alt="Image">

                        </div>
                    </div>
                    <div class="events-text p-4 border border-primary bg-white border-top-0 rounded-bottom">
                        <a href="#" class="h4">Ủng Hộ Xây Trường Ở Hà Giang</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- Events End-->
<!-- Testimonial Start -->
<div class="container-fluid testimonial program py-2">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Thiện Nguyện</h4>
            <h1 class="mb-5 display-3">Nhà Hảo Tâm</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.3s">
            @foreach (var charity in Model)
            {
                <div class="testimonial-item img-border-radius bg-light border border-primary p-4">
                    <div class="p-4 position-relative">
                        <i class="fa fa-quote-right fa-2x text-primary position-absolute" style="top: 15px; right: 15px;"></i>
                        <div class="d-flex align-items-center">
                            <div class="border border-primary bg-white rounded-circle">
                                <img src="~/Charity/img/testimonial-2.jpg" class="rounded-circle p-2" style="width: 80px; height: 80px; border-style: dotted; border-color: var(--bs-primary);" alt="">
                            </div>
                            <div class="ms-4">
                                <h4 class="text-dark">@charity.Name</h4>
                                <p class="m-0 pb-3">@charity.PhoneNumber</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>
                            </div>
                        </div>
                        <div class="border-top border-primary mt-4 pt-3">
                            <p class="mb-0">
                                @charity.Description
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Blog Start-->


<script>
    // JavaScript to toggle sound
    const video = document.getElementById('volunteerVideo');
    const soundButton = document.getElementById('soundToggleButton');

    soundButton.addEventListener('click', function () {
        if (video.muted) {
            video.muted = false;
            soundButton.textContent = '🔊 Tắt âm thanh';
        } else {
            video.muted = true;
            soundButton.textContent = '🔇 Bật âm thanh';
        }
    });

    // Function to switch videos
    function switchVideo(videoPath) {
        video.src = videoPath;
        video.load();
        video.play();
    }
</script>