@{
    ViewData["Title"] = "Thêm Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Web_bestcoder.Areas.Admin.ViewModels.ProductViewModel;

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách sản phẩm</li>
            <li class="breadcrumb-item"><a href="#">Thêm sản phẩm</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Tạo mới sản phẩm</h3>
                <div class="tile-body">
                    <div class="row element-button mb-3">
                        <div class="col-sm-4">
                            <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addSupplierModal"><i class="fas fa-folder-plus"></i> Thêm nhà cung cấp</a>
                        </div>
                        <div class="col-sm-4">
                            <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addCategoryModal"><i class="fas fa-folder-plus"></i> Thêm danh mục</a>
                        </div>
                        <div class="col-sm-4">
                            <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addStatusModal"><i class="fas fa-folder-plus"></i> Thêm tình trạng</a>
                        </div>
                    </div>

                    <div class="container">
                        <form method="post" asp-action="ThemSanPham" asp-controller="QuanLySanPham" class="row" enctype="multipart/form-data">
                            <div class="form-group col-md-3">
                                <label asp-for="Product.ProductId" class="control-label"></label>
                                <input asp-for="Product.ProductId" class="form-control" readonly />
                                <span asp-validation-for="Product.ProductId" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="Product.ProductName" class="control-label">Tên Sản Phẩm</label>
                                <input asp-for="Product.ProductName" class="form-control" required />
                                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="Product.Quantity" class="control-label">Số Lượng</label>
                                <input asp-for="Product.Quantity" class="form-control" type="number" min="0" required />
                                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="Product.Status" class="control-label">Tình Trạng</label>
                                <select asp-for="Product.Status" class="form-control" required>
                                    <option value="">-- Chọn tình trạng --</option>
                                    <option value="Còn hàng">Còn hàng</option>
                                    <option value="Hết hàng">Hết hàng</option>
                                </select>
                                <span asp-validation-for="Product.Status" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="Product.CategoryId" class="control-label">Danh Mục</label>
                                <select asp-for="Product.CategoryId" class="form-control" required>
                                    <option value="">-- Chọn danh mục --</option>
                                    @foreach (var category in Model.ProductCategories)
                                    {
                                        <option value="@category.CategoryId">@category.CategoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="Product.SupplierId" class="control-label">Nhà Cung Cấp</label>
                                <select asp-for="Product.SupplierId" class="form-control" required>
                                    <option value="">-- Chọn nhà cung cấp --</option>
                                    @foreach (var supplier in Model.Suppliers)
                                    {
                                        <option value="@supplier.SupplierId">@supplier.SupplierName</option>
                                    }
                                </select>
                                <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="Product.SellingPrice" class="control-label">Giá Bán</label>
                                <input asp-for="Product.SellingPrice" class="form-control" type="number" step="0.01" required />
                                <span asp-validation-for="Product.SellingPrice" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="Product.CostPrice" class="control-label">Giá Vốn</label>
                                <input asp-for="Product.CostPrice" class="form-control" type="number" step="0.01" required />
                                <span asp-validation-for="Product.CostPrice" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <label asp-for="Product.Image" class="control-label">Ảnh sản phẩm</label>
                                <div id="myfileupload">
                                    <input asp-for="Product.Image" type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);" />
                                </div>
                                <div id="thumbbox">
                                    <img height="450" width="400" alt="Thumb image" id="thumbimage" style="display: none" />
                                    <a class="removeimg" href="javascript:"></a>
                                </div>
                                <div id="boxchoice">
                                    <a href="javascript:" class="Choicefile"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>
                                    <p style="clear:both"></p>
                                </div>

                            </div>

                            <div class="form-group col-md-12">
                                <label asp-for="Product.Description" class="control-label">Mô Tả</label>
                                <textarea asp-for="Product.Description" class="form-control" id="mota" required></textarea>
                                <script>CKEDITOR.replace('mota');</script>
                                <span asp-validation-for="Product.Description" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </div>
        </div>
    </div>
</main>

<!-- Modal for Adding New Supplier -->
<div class="modal fade" id="addSupplierModal" tabindex="-1" role="dialog" aria-labelledby="addSupplierModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Thêm mới nhà cung cấp</h5>
                <input asp-for="Suppliers" class="form-control" type="text" placeholder="Nhập tên nhà cung cấp mới" required>
                <button class="btn btn-save mt-3" type="submit">Lưu lại</button>
                <a class="btn btn-cancel mt-3" data-dismiss="modal" href="#">Hủy bỏ</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Adding New Category -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Thêm mới danh mục</h5>
                <input asp-for ="ProductCategories" class="form-control" type="text" placeholder="Nhập tên danh mục mới" required>
                <button class="btn btn-save mt-3" type="submit">Lưu lại</button>
                <a class="btn btn-cancel mt-3" data-dismiss="modal" href="#">Hủy bỏ</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Adding New Status -->
<div class="modal fade" id="addStatusModal" tabindex="-1" role="dialog" aria-labelledby="addStatusModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Thêm mới tình trạng</h5>
                <input class="form-control" type="text" placeholder="Nhập tình trạng mới" required>
                <button class="btn btn-save mt-3" type="button">Lưu lại</button>
                <a class="btn btn-cancel mt-3" data-dismiss="modal" href="#">Hủy bỏ</a>
            </div>
        </div>
    </div>
</div>


<script>
    function readURL(input, thumbimage) {
        if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbimage").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        else { // Sử dụng cho IE
            $("#thumbimage").attr('src', input.value);

        }
        $("#thumbimage").show();
        $('.filename').text($("#uploadfile").val());
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'default');
        $(".removeimg").show();
        $(".Choicefile").unbind('click');

    }
    $(document).ready(function () {
        $(".Choicefile").bind('click', function () {
            $("#uploadfile").click();

        });
        $(".removeimg").click(function () {
            $("#thumbimage").attr('src', '').hide();
            $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
            $(".removeimg").hide();
            $(".Choicefile").bind('click', function () {
                $("#uploadfile").click();
            });
            $('.Choicefile').css('background', '#14142B');
            $('.Choicefile').css('cursor', 'pointer');
            $(".filename").text("");
        });
    })
</script>